a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {

    max-width: 500px;
    padding: 50px 0;
}

.col-2 h1 {
    color: skyblue;
    font-size: 50px;
    line-height: 55px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: rgb(145, 136, 136);
    color: black;
    padding: 8px 20px;
    margin: 30px 0px;
    border: 2px solid black;
    border-radius: 20px;
    transition: background 1s;
}

.btn:hover {
    background-color: rgb(80, 75, 73);
    color: rgb(17, 156, 194);
}

.small-container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.offer video {
    margin-left: 200px;
    width: 300px;
    height: 500px;
}

.offer h1 {
    font-size: 30px;
    line-height: 10px;
}

.offer small {
    font-size: 15px;
}

.offer p {
    font-style: bold;
}


.offer {
    background: linear-gradient(#2b1055, #7597de);
}